.about {
  padding: 20px;
  margin: 0 auto;
  max-width: 800px;
}

.about h1 {
  font-size: 2em;
  margin-bottom: 1em;
  text-align: center;
}

.about p {
  max-width: 100%;
  line-height: 1.6;
  margin: 0 auto 1.5em;
  text-align: justify;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.text {
  flex: 1;
}

.image {
  max-width: 300px;
  height: auto;
}
